<div id = "message">
    <% @user = User.find_by_id(message.sender_id) %>
    <% if (@user != nil) %>
        <% if message.message_type == 'broadcast' %> 
            <p class="player"><%= @user.nickname %> : <%= auto_link(message.content, html: { target: '_blank' }) %></p>
        <% else %>
            <p class ="shoutToChat"><%= @user.nickname %> : <%= message.content %></p>
        <% end %>
    <% else %>
     <p class="audience"> Audience : <%= message.content %></p>
    <% end %>
</div>
