<% @title = 'Stages' %>

<div class="page-header">
  <h1>
    Users
    <small class="pull-right">
      <span class="btn-group">
        <%= link_to 'Create', new_user_path, :class => "btn btn-primary" %>
      </span>
    </small>
  </h1>
  </h1>
</div>

<table class="table table-striped">
  <% @users.each do |u| %>
    <tr>
      <td>
        <% if u.is_active? %>
          <%= link_to u.nickname, u %>
        <% else %>
          <%= u.nickname %>
          <br>
          <span class="text-danger small">Inactive</span>
        <% end %>
        <% if u.email_confirmed.nil? %>
          <br>
          <span class="text-danger small">Email Not Confirmed</span>
        <% end %>
      </td>
      <td>
        <span class="btn-group pull-right">
          <%= link_to 'Edit', edit_user_path(u), :class => "btn btn-default" %>
          <%= link_to 'Delete', u, :method => :delete, :data => { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
        </span>
      </td>
    </tr>
  <% end %>
</table>
