<%= form_for @backdrop do |f| %>

<div class="form-group">
  <%= f.text_field :name, :class => "form-control", :placeholder => 'Name' %>
  <% unless @backdrop.errors[:name].empty? %>
    <p class="text-danger">
      <% @backdrop.errors.full_messages_for(:name).each do |e| %>
        <%= e %><br>
      <% end %>
    </p>
  <% end %>
</div>

<div class="row">
  <div class="form-group col-lg-11">
    <%= f.file_field :source, :class => 'form-control', :placeholder => 'Choose File' %>
    <% unless @backdrop.errors[:source].empty? %>
      <p class="text-danger">
        <% @backdrop.errors.full_messages_for(:source).each do |e| %>
          <%= e %><br>
        <% end %>
      </p>
    <% end %>
  </div>

  <div class="form-group col-lg-1">
    <span class="btn-group">
      <%= f.submit ( f.object.new_record? ? "Create" : "Update"), :class => "btn btn-primary" %>
    </span>
  </div>
</div>

<hr>
<br>

<div class ="col-sm-2">
  <% unless @backdrop.new_record? %>
    <%= image_tag @backdrop.source.url(:medium), :alt => "#{@backdrop.name}", :class => 'col-lg-12 img-rounded img-responsive' %>
  <% end %>
</div>


<% end %>
