<% @title = @stage.name %>

<div class="page-header">
  <h1>
    <%= @stage.name %>
    <small class="pull-right">
      <%= link_to 'Edit', edit_stage_path(@stage), :class => "btn btn-default" %>
        <a class="btn btn-default" href="#" data-toggle="modal" data-target="#cloneStageModal">
          Clone
        </a>
      <%= link_to 'Delete', @stage, :method => :delete, :data => { confirm: "This stage will be deleted immediately and no longer be available.", title: "Are you sure you want to delete the stage \"#{@stage.name}\"?" }, :class => "btn btn-danger" %>
    </small>
    <br>
    <small>Stage</small>
    <%= render 'tags' %>
  </h1>
</div>

<div class="col-lg-4 col-sm-12 clearfix">
    <%= render 'avatars' %>
</div>

<div class="col-lg-4 col-sm-12 clearfix">
  <%= render 'backdrops' %>
</div>

<div class="col-lg-4 col-sm-12 clearfix">
    <%= render 'sounds' %>
</div>

<%= render 'clone_stage' %>
