<% @title = @stage.name %>

<div class="page-header">
  <h1>
    <%= @stage.name %>
    <small class="pull-right">
      <span class="btn-group">
        <%= link_to 'Edit', edit_stage_path(@stage), :class => "btn btn-default" %>
        <%= link_to 'Delete', @stage, :method => :delete, :data => { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
      </span>
    </small>
    <br>
    <small>Stage</small>
  </h1>
</div>

<div class="col-lg-4 col-sm-12 clearfix">
    <%= render 'media' %>
</div>

<div class="col-lg-4 col-sm-12 clearfix">
    <%= render 'avatars' %>
</div>
