<%= form_for @medium do |f| %>

<div class="form-group">
  <%= f.text_field :name, :class => "form-control", :placeholder => 'Name' %>
  <% unless @medium.errors[:name].empty? %>
    <p class="text-danger">
      <% @medium.errors.full_messages_for(:name).each do |e| %>
        <%= e %><br>
      <% end %>
    </p>
  <% end %>
</div>

<div class="form-group">
  <%= f.file_field :file, :class => "form-control", :placeholder => 'Choose File' %>
  <% unless @medium.errors[:filename].empty? %>
    <p class="text-danger">
      <% @medium.errors.full_messages_for(:filename).each do |e| %>
        <%= e %><br>
      <% end %>
    </p>
  <% end %>
</div>

<div class="form-group">
  <%= f.select :media_type, [ 'Image', 'Audio' ], {}, :class => 'form-control'  %>
  <% unless @medium.errors[:file].empty? %>
    <p class="text-danger">
      <% @medium.errors.full_messages_for(:file).each do |e| %>
        <%= e %><br>
      <% end %>
    </p>
  <% end %>
</div>

<div class="form-group">
  <small>Owned by: <%= @medium.owner.nickname %></small>
</div>

<div class="form-group">
  <span class="btn-group">
    <%= f.submit ( f.object.new_record? ? "Create" : "Update"), :class => "btn btn-primary" %>
  </span>
</div>

<% end %>
