<div>
  <h4>Search and Filter:</h4>

  <%= form_tag(media_path, method: :get) do %>
    <div>
      <label>Name or Tag:</label>
      <%= text_field_tag :term, params[:term] %>
      <%= submit_tag 'Search' %>
    </div>

    <div class="row">
      <div class="field col-sm-3">
        <%= label_tag :user %>
        <%= select_tag :user, options_for_select(User.all.map { |user| [ user.nickname, user.id ] }.sort, :selected => params[:user]) , :class => "form-control", :prompt => 'Select a User' %>
      </div>

      <div class="field col-sm-3">
        <%= label_tag :type %>
        <%= select_tag :type, options_for_select(["Avatar", "Backdrop", "Sound"], :selected => params[:type]), :class => "form-control", :prompt => 'Select a Type' %>
      </div>

      <div class="field col-sm-3">
        <%= label_tag :stage %>
        <%= select_tag :stage, options_for_select(Stage.all.map { |stage| [ stage.name, stage.id ] }.sort, :selected => params[:stage]), :class => "form-control", :prompt => 'Select a Stage' %>
      </div>

      <div class="field col-sm-3">
        <%= label_tag :tag %>
        <%= select_tag :tag, options_for_select(Tag.all.map { |tag| [ tag.name, tag.id ] }.sort, :selected => params[:tag]), :class => "form-control", :prompt => 'Select a Tag' %>
      </div>
    </div>
  <% end %>
</div>
