<%= javascript_include_tag "sorttable" %>
<table id = "mediatable" class="table table-striped">
  <thead>
    <tr>
      <th onclick="sortTable(0)" style="cursor:pointer">Name</th>
      <th onclick="sortTable(1)" style="cursor:pointer">Type</th>
      <th onclick="sortTable(2)" style="cursor:pointer">Stages</th>
      <th onclick="sortTable(3)" style="cursor:pointer">Tags</th>
      <th class="col-sm-1">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @media.each do |m| %>
      <tr>
        <td><%= link_to m.name, m %></td>
        <td><%= m.class.name %>
        <td class="text-muted">
           <% m.stages.order('LOWER(name)').each do |s| %>
            <%= render s %>
          <% end %>
        </td>
        <td>
          <% m.tags.each do |t| %>
            <%= render t %>
          <% end %>
        </td>
        <td class="col-sm-1">
          <span class="btn-group btn-group-sm" data-toggle="modal" data-target="#modal-<%= "#{m.class.name.demodulize}-#{m.name}" %>">
              <span class="glyphicon glyphicon-trash"></span>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
