<%= javascript_include_tag "sorttable" %>
<table id = "mediatable" class="table table-striped">
  <thead>
    <tr>
      <th onclick="sortTable(0)" style="cursor:pointer">Name</th>
      <th onclick="sortTable(1)" style="cursor:pointer">Type</th>
      <th onclick="sortTable(2)" style="cursor:pointer">Stages</th>
      <th onclick="sortTable(3)" style="cursor:pointer">Tags</th>
      <th class="col-sm-1">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @media.each do |m| %>
      <tr>
        <td><%= link_to m.name, m %></td>
        <td><%= m.class.name %>
        <td class="text-muted">
           <% m.stages.order('LOWER(name)').each do |s| %>
            <%= render s %>
          <% end %>
        </td>
        <td>
          <% m.tags.each do |t| %>
            <%= render t %>
          <% end %>
        </td>
        <td class="col-sm-1">
          <span class="btn-group btn-group-sm">
            <%= link_to m, :method => :delete, :data => { confirm: "It will be deleted from the server and no be longer available on any stages that it was assigned to.", title: "Are you sure you want to delete the #{m.class.name.demodulize.downcase} \"#{m.name}\"?" }, :class => 'btn btn-sm btn-danger' do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>
