<% @title = @medium.name %>

<div class="page-header">
  <h1>
    <%= @medium.name %>
    <small class="pull-right">
      <span class="btn-group">
        <%= link_to 'Edit', edit_medium_path(@medium), :class => "btn btn-default" %>
        <%= link_to 'Delete', @medium, :method => :delete, :data => { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
      </span>
    </small>
    <br>
    <small><%= @medium.media_type %></small>
  </h1>
</div>

<%= render @medium %>

<div class="row">
  <div class="col-lg-4 col-sm-12">
      <%= render 'stages' %>
  </div>
</div>
