<%= form_for @avatar do |f| %>

<div class="form-group">
  <%= f.text_field :name, :class => "form-control", :placeholder => 'Name' %>
  <% unless @avatar.errors[:name].empty? %>
    <p class="text-danger">
      <% @avatar.errors.full_messages_for(:name).each do |e| %>
        <%= e %><br>
      <% end %>
    </p>
  <% end %>
</div>

<div class="form-group">
  <%= f.select :medium_id, medium_select_options, {}, :class => 'form-control'  %>
  <% unless @avatar.errors[:medium_id].empty? %>
    <p class="text-danger">
      <% @avatar.errors.full_messages_for(:medium_id).each do |e| %>
        <%= e %><br>
      <% end %>
    </p>
  <% end %>
</div>

<div class="form-group">
  <span class="btn-group">
    <%= f.submit ( f.object.new_record? ? "Create" : "Update"), :class => "btn btn-primary" %>
  </span>
</div>

<% end %>
