<%= form_for @avatar do |f| %>

<div class="form-group">
  <%= f.text_field :name, :class => "form-control", :placeholder => 'Name' %>
  <% unless @avatar.errors[:name].empty? %>
    <p class="text-danger">
      <% @avatar.errors.full_messages_for(:name).each do |e| %>
        <%= e %><br>
      <% end %>
    </p>
  <% end %>
</div>

<%= image_tag("/uploads/#{@avatar.medium.filename}", :alt => "#{@avatar.name}", :class => 'col-lg-4 col-lg-offset-4 img-rounded img-responsive') unless @avatar.new_record? %>

<%= f.fields_for :medium do |mf| %>
  <div class="form-group">
    <%= mf.file_field :file, :class => "form-control", :placeholder => 'Choose File' %>
    <% unless @avatar.medium.errors[:filename].empty? %>
      <p class="text-danger">
        <% @avatar.medium.errors.full_messages_for(:filename).each do |e| %>
          <%= e %><br>
        <% end %>
      </p>
    <% end %>
  </div>
<% end %>

<div class="form-group">
  <span class="btn-group">
    <%= f.submit ( f.object.new_record? ? "Create" : "Update"), :class => "btn btn-primary" %>
  </span>
</div>

<% end %>
