<% @title = "Edit Avatar \'#{@avatar.name}\'" %>

<div class="page-header">
  <h1>
    <%= @avatar.name %>
    <small class="pull-right">
      <span class="btn-group">
        <%= link_to @avatar, :method => :delete, :data => { confirm: "This avatar will be deleted immediately and no longer be available on any stages that it was assigned to.", title: "Are you sure you want to delete the avatar \"#{@avatar.name}\"?" }, :class => "btn btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </span>
    </small>
    <br>
    <small>Avatar</small>

  </h1>
</div>

<div class="row">
  <%= render 'form' %>
  <div class ="col-sm-10">
    <% unless @avatar.new_record? %>
      <table class="table table-striped">
        <tr>
          <td>File Name:</td>
          <td><a href="<%= @avatar_url %>" download><%= @avatar.source_file_name %></a></td>
        </tr>
        <tr>
          <td>Created on:</td>
          <td><%= @avatar.created_at.localtime.strftime("%d/%m/%y @ %I:%M %p") %></td>
        </tr>
        <tr>
          <td>Uploaded By:</td>
          <td><%= @avatar.uploader.username %></td>
        </tr>
        <tr>
          <td>File Size:</td>
          <% if @avatar.source_file_size >= 1048576 %>
            <td><%= (Float(@avatar.source_file_size) / 1048576).round(1) %> MB</td>
          <% elsif @avatar.source_file_size >= 1024 %>
            <td><%= (Float(@avatar.source_file_size) / 1024).round(1) %> kB</td>
          <% else %>
            <td><%= @avatar.source_file_size %> B</td>
          <% end %>
        </tr>
        <tr>
          <td>File Type:</td>
          <td><%= @avatar.source_content_type %></td>
        </tr>
        <tr>
          <td>Dimensions:</td>
          <td><%= "#{@avatar_dimensions[0]} x #{@avatar_dimensions[1]}" %></td>
        </tr>
        <tr>
          <td>Stages:</td>
          <td>
            <%= render 'stages' %>
          </td>
        </tr>
        <tr>
          <td>Tags:</td>
          <td>
            <%= render 'tags' %>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
