<% @title = @sound.name %>

<div class="page-header">
  <h1>
    <%= @sound.name %>
    <small class="pull-right">
      <span class="btn-group">
        <%= link_to 'Edit', edit_sound_path(@sound), :class => "btn btn-default" %>
        <%= link_to 'Delete', @sound, :method => :delete, :data => { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
      </span>
    </small>
    <br>
    <small>Sound</small>
    <%= render 'tags' %>
  </h1>
</div>

<%= audio_tag @sound.source.url, :alt => "#{@sound.name}", :controls => true %>
