<% @title = 'Foyer' %>

<div class="page-header">
  <h1>Welcome!</h1>
</div>

<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Stages</h4>
    </div>
    <div class="panel-body">
      <div class="row hidden-md hidden-sm hidden-xs">
        <% if current_user.nil? %>
          <div class="col-lg-9">
            Name
          </div>
          <div class="col-lg-3">
            <div class="row hidden-md hidden-sm hidden-xs">
              <div class="col-lg-6 text-right">
                Players
              </div>
              <div class="col-lg-6 text-right">
                Audience
              </div>
            </div>
          </div>
        <% else %>
          <div class="col-lg-8">
            Name
          </div>
          <div class="col-lg-4">
            <div class="row hidden-md hidden-sm hidden-xs">
              <div class="col-lg-3 text-right">
                Players
              </div>
              <div class="col-lg-4 text-right">
                Audience
              </div>
              <div class="col-lg-5 text-right">
                Accessibility
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% @stages.each do |s| %>
        <div class="row hidden-md hidden-sm hidden-xs">
          <% if current_user.nil? %>
            <div class="col-lg-9">
              <%= link_to s.name, performance_path(s) %>
            </div>
            <div class="col-lg-3">
              <div class="row hidden-md hidden-sm hidden-xs">
                <div class="col-lg-6 text-right">
                  0
                </div>
                <div class="col-lg-6 text-right">
                  0
                </div>
              </div>
            </div>
          <% else %>
            <div class="col-lg-8">
              <%= link_to s.name, performance_path(s) %>
            </div>
            <div class="col-lg-4">
              <div class="row hidden-md hidden-sm hidden-xs">
                <div class="col-lg-3 text-right">
                  0
                </div>
                <div class="col-lg-4 text-right">
                  0
                </div>
                <div class="col-lg-5 text-right">
                  <% if s.owner == current_user %>
                    <%= "Owner"%>
                  <% else %>
                    <%= "Player"%>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="hidden-lg hidden-sm hidden-xs col-md-12">
          <%= link_to s.name, performance_path(s) %>
          <br>
          <strong>Players:</strong> 0
          <strong>Audience:</strong> 0
          <% unless current_user.nil? %>
            <strong>Accessibility: </strong>
            <% if s.owner == current_user %>
              <%= "Owner"%>
            <% else %>
              <%= "Player"%>
            <% end %>
          <% end %>
        </div>
        <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
          <%= link_to s.name, s %>
          <br>
          <strong>Players:</strong> 0
          <strong>Audience:</strong> 0
          <% unless current_user.nil? %>
          <strong>Accessibility: </strong>          
            <% if s.owner == current_user %>
              <%= "Owner"%>
            <% else %>
              <%= "Player"%>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pull-right">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><%= link_to 'Announcements', announcements_path %></h4>
    </div>
    <div class="panel-body">
      <% @announcements.each do |a| %>
        <%= render :partial => 'announcement', :locals => { announcement: a } %>
      <% end %>
    </div>
  </div>
</div>
