<!DOCTYPE html>
<html>
    <head>
        <title><%= @stage.name %> | UpStage</title>

        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     
    </head>
    
    <body class="theatre-body">
        <div class="row">
            
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#drawing">Drawing</a></li>
              <li><a data-toggle="tab" href="#audio">Audio</a></li>
              <li><a data-toggle="tab" href="#backdrop">Backdrop</a></li>
              <li><a data-toggle="tab" href="#avatar">Avatar</a></li>
            </ul>
            <div class="tab-content">
              <div id="drawing" class="tab-pane fade in active">
                <h3>Drawing Tool</h3>
                <p> brush size <div class ="brush" id="brushSize">1</div>
                  <button class="size-option" data-size="increase">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <button class="size-option" data-size="decrease">
                    <span class="glyphicon glyphicon-minus"></span> 
                  </button>
                  
                   Colour Picker: 
                   
                   <button class="color-option" data-color="blue">
                       <span class="glyphicon glyphicon-pencil blue"></span>
                    </button>
                   <button class="color-option" data-color="pink">
                       <span class="glyphicon glyphicon-pencil pink"></span>
                    </button>
                   <button class="color-option" data-color="red">
                       <span class="glyphicon glyphicon-pencil red"></span>
                   </button>
                   <button class="color-option" data-color="black">
                       <span class="glyphicon glyphicon-pencil black"></span>
                   </button>
                   <button class="color-option" data-color="green">
                       <span class="glyphicon glyphicon-pencil green"></span>
                   </button>
                   <button class="color-option" data-color="white">
                       <span class="glyphicon glyphicon-pencil white"></span>
                   </button>
                 </p>
                 
              </div>
              
              <div id="audio" class="tab-pane fade">
                <% @stage_media = StageMedium.joins(:medium).where(media: {media_type:'Audio'}, stage_media: { stage_id: @stage.id }) %>
                <%= render @stage_media %>
              </div>
              <div id="backdrop" class="tab-pane fade">
                <% @stage_media = StageMedium.joins(:medium).where(media: {media_type:'Image'}, stage_media: { stage_id: @stage.id }) %>
                <%= render @stage_media %>
              </div>
              <div id="avatar" class="tab-pane fade">
                  <% @avatar_stages = @stage.avatar_stages %>
                  <%= render @avatar_stages %>
              </div>
            </div>
        </div>
        <div class="row">
            <div class= "col-md-7 col-lg-8">
                <div class = "panel-body" style="display: block;">
    			    <canvas id="canvas" width="600" height="400">Sorry, your browser doesn't support this feature</canvas>
    			</div>
            </div>
            <div class = "col-md-5 col-lg-3">
                <div class="panel panel-info" id="chat">
                    <div class="panel-heading">
                        UpStage Performance Stage Chat
                    </div>
                    <div class="panel-body">
                        <p>Number of people in the performance stage: </p>
                        <ul class="user-list">
                            <li class="user">
                                <div id="user_list">
                                    <%= ActionCable.server.connections.length + 1 %>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-body" id="chat-body">
                        <ul class="media-list">
                            <li class="media">
                                <div class="media-body">
                                    <div class="media">
                                        <div class="media-body" >
                                            <div id="messages" data-stage-id ="<%= @stage.id %>">
                                                <%= render @stage.messages %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="panel-footer">
                        <div class="input-group">
                                <input type="text" class="form-control" id = "chat-speak" size = "60" data-behavior="chat-speak">
                                <input type="hidden" id = "stage-id" name ="stage-id" value ="<%= @stage.id %>">
                            <% if current_user %>
                                <input type="hidden" id = "user-id" name ="user-id" value ="<%= current_user.id %>">
                                <input type="hidden" id = "user-name" name ="user-name" value ="<%= current_user.nickname %>">
                            <% else %>
                                <input type="hidden" id = "user-id" name ="user-id" value ="<%= 0 %>">
                                <input type="hidden" id = "user-name" name ="user-name" value ="<%= "Guest" %>">
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    </body>
</html>
