<!DOCTYPE html>
<html class="theatre" data-channel-suffix="<%= @stage.slug %>">
  <head>
    <title><%= @stage.name %> | UpStage</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="stage-slug" value="<%= @stage.slug %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="stage">

    <!-- Stage -->
    <canvas id="canvas">Sorry, your browser doesn't support this feature</canvas>

  <div id="sidebar">
<% unless current_user.nil? %>
    <!-- Tools -->

    <div id="toolbox">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#drawing">Drawing</a></li>
        <li><a data-toggle="tab" href="#audio">Audio</a></li>
        <li><a data-toggle="tab" href="#avatar">Avatars</a></li>
        <li><a data-toggle="tab" href="#backdrop">Backdrops</a></li>
      </ul>
      <div class="tab-content">
        <div id="drawing" class="tab-pane fade in active">
          Colour Picker:
          <button class="color-option" data-color="blue">
            <span class="glyphicon glyphicon-pencil blue"></span>
          </button>
          <button class="color-option" data-color="pink">
            <span class="glyphicon glyphicon-pencil pink"></span>
          </button>
          <button class="color-option" data-color="red">
            <span class="glyphicon glyphicon-pencil red"></span>
          </button>
          <button class="color-option" data-color="black">
            <span class="glyphicon glyphicon-pencil black"></span>
          </button>
          <button class="color-option" data-color="green">
            <span class="glyphicon glyphicon-pencil green"></span>
          </button>
          <button class="color-option" data-color="white">
            <span class="glyphicon glyphicon-pencil white"></span>
          </button>
          <button class="color-option" data-color="clear">
            Clear
          </button>
          Brush Size:
          <span class ="brush" id="brushSize">1</span>
          <button class="size-option" data-size="increase">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button class="size-option" data-size="decrease">
            <span class="glyphicon glyphicon-minus"></span>
          </button>
        </div>

        <div id="avatar" class="tab-pane fade">
            <div class="mirror" id="mirrorPane">
          </div>
          <div>
             <% @stage.avatars.each do |a| %>
               <button class="btn btn-default avatar-selection" title="<%= a.name %>" data-name="<%= a.name %>" data-avatar-id="<%= a.id %>">
                 <%= image_tag a.source.url(:thumb), :alt => a.name %>
               </button>
             <% end %>
          </div>
            <div>
              <button class="btn btn-default" id="dropAvatarButton" disabled="disabled">
                Drop
              </button>
            </div>
        </div>

        <div id="audio" class="tab-pane fade">
          <div class="panel-footer">
            <% @stage.sounds.each do |au| %>
              <button class="btn btn-default audio-selection" title="<%= au.name %>" data-audio-name="<%= au.name %>" data-audio-id="<%= au.source%>">
                <%=au.name%>
              </button>
            <% end %>
            </br>
          </div>
        </div>

        <div id="backdrop" class="tab-pane fade">
          <div class="panel-footer">
            <div class="carousel slide multi-item-carousel" id="theCarousel">
              <div class="carousel-inner">
                  <% @stage.backdrops.each do |b| %>
                  <div class="item active">
                    <div class="col-xs-4"><a href="#1"><%= image_tag b.source.url, :alt => b.name, :class => "img-responsive", :width => 50, :height => 50 %></a></div>
                  </div>
                  <% end %>
              </div>
              <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
              <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
<% end %>
    <!-- Chat -->

      <div id="chat" style="height: <%= current_user.nil? ? '100%' : '80%' %>;">
        <div id="chat-body" style="height: <%= current_user.nil? ? '92%' : '85%' %>;">
          <div id="messages" data-stage-id ="<%= @stage.id %>">
            <%= render @stage.messages %>
          </div>
        </div>
        <div id="chatInput" style="height: <%= current_user.nil? ? '8%' : '15%' %>;">
          <% unless current_user.nil? %>
            <div class="input-group">
              <%= label_tag nil, :class => 'radio-inline' do %>
                <%= radio_button_tag 'chat-modifier', '', true, :class => 'chat-modifier' %> Speech
              <% end %>
              <% Message::MODIFIERS.each do |k, v| %>
                <%= label_tag nil, :class => 'radio-inline', :title => "(#{v})" do %>
                  <%= radio_button_tag 'chat-modifier', "#{v}", false, :class => 'chat-modifier' %> <%= k.to_s.capitalize %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          <div class="input-group">
            <input type="text" id = "chat-speak" class="form-control" data-behavior="chat-speak", placeholder="Say something...">
            <span class="input-group-btn">
              <button id="sendChat" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-send"></span>
              </button>
            </span>
          </div>
          <input type="hidden" id = "stage-id" name ="stage-id" value ="<%= @stage.id %>">
          <input type="hidden" id = "user-id" name ="user-id" value ="<%= current_user ? current_user.id : 0 %>">
          <input type="hidden" id = "user-name" name ="user-name" value ="<%= current_user ? current_user.nickname : 'Guest' %>">
        </div>
      </div>
    </div>
  </body>
</html>
